{% block content %}
<section class="section" 
        style="padding: 0px 0px 0px 0px; background-color:rgb(0,70,130)">
    <div class="container" style="margin-left: 3px">
        <img src="/static/pictures/surrey-logo.svg" width="144px" height="44px">
    </div>
</section>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                My Weather Report
                <span id="welcome" hidden></span>
            </h1>
        </div>
    </div>
</section>
{% endblock %}